/* Footer Styling */
.footer {
  position: sticky;
  display: flex;
  transition: all 0.5s;
  z-index: 1;
}

.footer a {
  text-decoration: none; /* Remove default underline */
}

.footer a:hover {
  text-decoration: underline; /* Underline on hover */
}

@media (max-width: 768px) {
  /* Mobile adjustments */
  .footer .row {
    text-align: center;
  }

  .footer .col-md-4 {
    margin-bottom: 20px;
  }
}
